{% extends 'base.html.twig' %}


{% block body %}
    <br>
    <br>

    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    <br>
    <br>
    <br>

    <h1>  Welcome {{ app.user.userIdentifier }} </h1><br>
    <br>
    <br>

{% endblock %}
