{% extends 'basenew.html.twig' %}


{% block body %}
    <h1 style="text-align: center; margin-top: 50px;margin-bottom: 50px;">Creer nouveau Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">retour à la liste</a>
{% endblock %}
