{% extends 'basenew.html.twig' %}
{% block body %}
    <h1 style="text-align: center; margin-top: 50px;margin-bottom: 50px;">Creer Nouveau Remboursement</h1>

    {{ include('reclamation/_form.html.twig') }}

    
{% endblock %}

