body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

form {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.your-custom-class {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.your-custom-class:focus {
    border-color: #007BFF;
    outline: none;
}

.btn {
    display: block;
    width: 15%; /* Adjust as needed */
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007BFF;
    text-align: center;
    cursor: pointer;
    margin: 10px auto; /* Centers the button */
}
.btn:hover {
    background-color: #0056b3;
}
.btnTable {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #007bff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btnTable:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}

.btnTable:focus, .btnTable.focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}