{% extends 'backbase.html.twig' %}

{% block title %}New Assurance{% endblock %}

{% block body1 %}
    <h1 class="mb-4">Create New Assurance</h1>

    {{ include('assurance/_form.html.twig') }}

    <a href="{{ path('app_assurance_index') }}" class="btn btn-secondary mt-3">Back to List</a>
{% endblock %}
