{% extends 'backbase.html.twig' %}

{% block title %}New Assurance{% endblock %}

{% block body1 %}
    <h1 style="color: #3498db;">Create New Assurance</h1>

    {{ include('assurance/_form.html.twig') }}

    <a href="{{ path('app_assurance_index') }}" class="btn btn-info mt-3" style="background-color: #3498db; color: #fff;">Back to List</a>
{% endblock %}

