{% extends 'frontbase.html.twig' %}

{% block title %}Edit TypeBonPlan{% endblock %}

{% block body %}
    <h1>Edit TypeBonPlan</h1>

    {{ include('type_bon_plan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_bon_plan_index') }}">back to list</a>

    {{ include('type_bon_plan/_delete_form.html.twig') }}
{% endblock %}
