{% extends 'backbase.html.twig' %}



{% block body1 %}

    <h1>Create new TypeBonPlan</h1>

    {{ include('type_bon_plan/_form.html.twig') }}

    <a href="{{ path('app_type_bon_plan_index') }}">back to list</a>

{% endblock %}
