{% extends 'backbase.html.twig' %}

{% block title %}New Agence{% endblock %}

{% block body1 %}
    <h1 style="color: #3498db;">Create New Agence</h1>

    {{ include('agence/_form.html.twig') }}

    <a href="{{ path('app_agence_index') }}" class="btn btn-info" style="background-color: #3498db; color: #fff;">Back to List</a>
{% endblock %}
